@use 'variables.scss' as *;

$cart-main-bgc: white;

$cart-icon-size: 40px;
$cart-icon-color: black;
$cart-icon-active: #32f8ff;

$_cart-main-width: 400px;
$_cart-main-padding: 30px;

$translateXdist: calc($_cart-main-width + $_cart-main-padding + 5px);

.cart-container {
  position: relative;
  display: flex;
  z-index: 800;

  svg {
    cursor: pointer;
    height: $cart-icon-size;
    width: $cart-icon-size;
    color: $cart-icon-color;
    &:active,
    &:hover {
      fill: $cart-icon-active;
    }
  }

  .visible {
    transform: translateX(-$translateXdist);
  }
}

.cart {
  position: fixed;
  display: flex;
  top: 0;
  height: 100vh;
  transform: translateX($translateXdist);
  z-index: 800;
  transition: all 0.5s;
}

p {
  font-size: $fs-600;
  color: #494949;
  align-self: center;
  margin-block: auto;
}

.cart-main {
  background-color: $cart-main-bgc;
  width: $_cart-main-width;
  padding: $_cart-main-padding;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#close-btn {
  margin-top: $_cart-main-padding;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2e2e2e9c;
  z-index: 1;
  width: 0;
  transition: all 0.6s;

  &.visible {
    width: 100vw;
  }
}

@media screen and (min-width: 670px) {
  .cart-main {
    scrollbar-color: white;
    scrollbar-width: thin;
  }
  .cart-main::-webkit-scrollbar {
    width: 12px;
  }

  .cart-main::-webkit-scrollbar-thumb {
    background-color: #b3b3b3b7;
    border-radius: 6px;
    border: 2px solid white;
  }
}
