@use 'variables.scss' as *;

$cart-icon-size: 40px;
$cart-icon-color: black;
$cart-icon-active: #32f8ff;

$_cart-main-width: 400px;
$_cart-main-height: 100vh;
$_cart-main-padding: 30px;

$translateXdist: calc($_cart-main-width + $_cart-main-padding);

.cart-container {
  position: relative;
  display: flex;
  z-index: 800;

  svg {
    cursor: pointer;
    height: $cart-icon-size;
    width: $cart-icon-size;
    color: $cart-icon-color;
    &:active,
    &:hover {
      fill: $cart-icon-active;
    }
  }

  .visible {
    transform: translateX(-$translateXdist);
  }
}

.cart {
  position: fixed;
  display: flex;
  top: 0;
  transform: translateX($translateXdist);
  z-index: 800;
  transition: all 0.5s;
}

p {
  font-size: $fs-600;
  color: #272727;
}

.cart-main {
  background-color: white;
  width: $_cart-main-width;
  height: $_cart-main-height;
  padding: $_cart-main-padding;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#close-btn {
  margin-top: $_cart-main-padding;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2e2e2e9c;
  z-index: 1;
  width: 0;
  transition: all 0.8s;

  &.visible {
    width: 4000px;
  }
}
