@use 'variables.scss' as *;
@use 'utility.scss';
@use 'mixins.scss' as m;

$image-size: 100px;
$btn-size: 30px;
.cart-card {
  display: flex;
  gap: 2rem;

  img {
    aspect-ratio: 3/4;
    width: $image-size;
  }

  .product-container > * {
    margin-bottom: 5px;
  }

  .quantity-container {
    display: flex;
    align-items: center;

    button {
      cursor: pointer;
      font-size: $btn-size;
      background-color: transparent;
      color: #2f3131;
      border: none;
      padding-inline: 10px;

      &:hover {
        color: #000000;
      }
    }
  }

  .remove {
    @include m.fill($primary-clr, #f1f1f1);
    border-radius: 6px;
    border: 2px solid $primary-clr;
    font-weight: 700;
    letter-spacing: 1px;
  }
}
