// Text variables
$fs-300: 0.75rem;
$fs-400: 0.875rem;
$fs-500: 1rem;
$fs-600: 1.2rem;
$fs-700: 1.5rem;
$fs-800: 4.5rem;
$fs-900: 6rem;

$text-color: #251609;

$primary-clr: #70543e;
$secondary-clr: #57493d;
$alt-clr: #adb0ff;

$main-padding: 1.5rem;

//Nav
$nav-bgc: $primary-clr;
$nav-padding: $main-padding;
$nav-link-clr: $text-color;
$nav-link-fs: $fs-700;

// Shop rating
$star-size: 30px;
$star-color: #fff;
$star-background: #fc0;
$review-color: #868686;
